<style>html,body { height:100%;background:#EE756c;}</style>

<button onclick='expandAd();'>Expand</button>
<button onclick='collapseAd();'>Collapse</button>
<button onclick='alertViewability();'>Show Viewability</button>
<button onclick='showGeom();'>Show Geom</button>
<button onclick='expandEvenBigger();'>Expand Even Bigger</button>

<p>I am a SF creative and I expand myself to <code>400x600px</code> when clicked.</p>
<script>
var sf_api = window.extern || $sf.ext;

var expandedWidth = 80,
 expandedHeight = 350;

 /**
 * Expand the ad by calling the SafeFrame API expand() method
 */
 function updateHandler(status, data)
 {
  if(status == "expanded"){
  }
  else if (status == "collapsed") {
  }
  else if (status == "geom-update") {
   alert('Size was changed (e.g. resized)')
  }
 }


 /**
 * Expand the ad by calling the SafeFrame API expand() method
 */
 function expandAd(){
  var g, ex, obj;

  if ($sf.ext) {
   try {
    g = $sf.ext.geom(); // the geometry object
    ex = g && g.exp;
     obj = {};
     obj.l=0;
     obj.r=expandedWidth;
     obj.t=0;
     obj.b=expandedHeight;
     obj.push=false;
      $sf.ext.expand(obj);
   } catch (e) {
    console.log(e);
   }
  } else {
   console.log('Safeframe not supported.')
  }
 }

 /**
 * Expand the ad by calling the SafeFrame API expand() method
 */
 function expandEvenBigger(){
  var g, ex, obj;

  if ($sf.ext) {
   try {
    g = $sf.ext.geom(); // the geometry object
    ex = g && g.exp;
     obj = {};
     obj.l=400;
     obj.r=400;
     obj.t=0;
     obj.b=600;
     obj.push=true;
      $sf.ext.expand(obj);
   } catch (e) {
    console.log(e);
   }
  } else {
   console.log('Safeframe not supported.')
  }
 }

 /**
 * Collapse the ad by calling the SafeFrame API collapse method
 */
 function collapseAd(){
   if(sf_api){
     try{
       $sf.ext.collapse();
     } catch (e) {
      console.log(e);
     }
   }

 }

 /**
 * Alerts Viewability % of the ad by calling the SafeFrame API view method
 */
 function alertViewability(){
   if(sf_api){
     try{
       alert('Ad is ' + $sf.ext.inViewPercentage() + '% in view according to geom.')
     }catch(e){
       console.log("Exception or no safeframes available: " + e.message);
     }
   }
 }

 /**
 * Alerts Viewability % of the ad by calling the SafeFrame API view method
 */
function showGeom(){
  if(sf_api){
    try{
      g = $sf.ext.geom();
      console.log(g);
    }catch(e){
      console.log("Exception or no safeframes available: " + e.message);
    }
  }
}


 /**
 * Register Update handler
 */
 if (sf_api) {
  try {
   $sf.ext.register(350, 200, updateHandler);
  } catch (e) {
   alert("Exception or no safeframes available: " + e.message);
  }
 }
</script>

