<div id="adPlacement"></div>
<script type="text/javascript" src="safeframe_examples/src/js/lib/base.js"></script>
<script type="text/javascript" src="safeframe_examples/src/js/host/host.js"></script>
<script type="text/javascript" src="safeframe_examples/src/js/lib/boot.js"></script>

<script type='text/x-safeframe' class='sf_data'>
  {
    "id":   "leftSkyscraperAdFrame",
    "src":  "../../tests/sample_ads/mouseOverExpander.js",
    
    "conf":
    {
      "w":    160,
      "h":    600,
      "dest": "leftAdPlacement"
    },
    "meta":
    {
      "expand":
      {
        "x":   "350",
        "y":   "0"
      }
    }
  }
</script>

<script type="text/javascript">
  var host = $sf.host;

    function nukePositions(){
      host.nuke();
    }

    function startRenderCallback(id){
      var posConf = hot.get(id);
      var fb = document.getElementById("feedback");
      fb.innerHTML += "onStartPosRender called for " + id + " <br />"
    }
    function endRenderCallback(id){
      var posConf = hot.get(id);
      var fb = document.getElementById("feedback");
      fb.innerHTML += "onEndPosRender called for " + id + " <br />"
    }
    function beforePosMessageCallback(id, msgName, data){
      var posConf = host.get(id);
      var fb = document.getElementById("feedback");
      fb.innerHTML += "onBeforePosMsg called for " + id + " <br />"
    }
    function posMessageCallback(id, msgName, data){
      var posConf = host.get(id);
      var fb = document.getElementById("feedback");
      fb.innerHTML += "onPosMsg called for " + id + " <br />"
    }

    function renderFailCallback(id){
      var posConf = host.get(id);
      var fb = document.getElementById("feedback");
      fb.innerHTML += "onFailure called for " + id + " <br />"
    }

  (function() {
        var conf  = new $sf.host.Config({
          renderFile:   "safeframe_examples/src/html/r.html",
          positions:
          {
            "leftSkyscraperAdFrame":
            {
              id:   "leftSkyscraperAdFrame",
              dest: "adPlacement",
              w:    160,
              h:    600,
              "supports":
              {
                "read-cookie": "1",
                "write-cookie": "1"
              }
            }
          },
          onStartPosRender: startRenderCallback,
          onFailure: renderFailCallback,
          onEndPosRender: endRenderCallback,
          onBeforePosMsg: beforePosMessageCallback,
          onPosMsg: posMessageCallback

        });
        // var posMeta    = new $sf.host.PosMeta(null,"rmx",{foo:"bar",bar:"foo"});
        // var pos      = new $sf.host.Position("LREC", "<h1>Hello World Sean</h1>", posMeta);

        // $sf.host.render(pos);
      })();
</script>
